@use '../abstracts/mixins';

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 320px;
  padding: 20px;
  border: 1px solid var(--color-border-muted);
  border-radius: 16px;
  background: var(--color-bg-alt);
  text-align: center;
  &__sub-title {
    margin-bottom: 22px;
    font-weight: 600;
    text-align: center;
  }
  &__title {
    margin-bottom: 14px;
    color: var(--color-primary);
    font-size: 3.2rem;
    font-family: var(--font-accent);
    font-weight: bold;
  }
  &__list {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  &__item {
    padding: 10px;
    border-radius: 12px;
    background: var(--color-bg);
  }
  &__value {
    display: block;
    margin-bottom: 4px;
    color: var(--color-primary);
    font-size: 3.2rem;
    font-weight: 800;
  }
  &__label {
    color: var(--color-text-muted);
    font-size: 1.4rem;
  }
}
