@use "../abstracts/mixins";

.image-slider {
  --padded-bottom: 20px;
  max-width: 90%;
  margin-inline: auto;
  margin-bottom: var(--padded-bottom);
  @include mixins.screen(md) {
    max-width: initial;
  }
  &__item {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
    &:hover {
      filter: brightness(90%);
    }
  }
}
