@use "../abstracts/mixins";
@use "./home";
@use "./blog";
@use "./gallery";

.product {
  &__heading {
    @extend .gallery__heading;
  }
  &__desc {
    @extend .home__desc;
  }
  &__block {
    @extend .home__container--padded-bottom;
  }
  &__block-title {
    @extend .home__heading;
  }
  &__row {
    @extend .blog__row;
  }
  &__video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }
}
