@use "../abstracts/mixins";
@use "./home";

.gallery {
  padding-bottom: 30px;
  &__heading {
    margin-block: 30px 10px;
    font-size: 2.6rem;
    font-weight: 700;
  }
  &__desc {
    @extend .home__desc;
  }
  &__block + &__block {
    margin-top: 40px;
  }
  &__block-title {
    @extend .home__heading;
    margin-bottom: 16px;
  }
}
