html {
  --font-base: 'Manrope', sans-serif;
  --font-accent: 'Funky Signature', sans-serif;

  --color-primary: #9a031e;
  --color-accent: #658c58;

  --color-text: #191919;
  --color-text-muted: #666;
  --color-text-inverse: #fff;

  --color-bg: #fff5ec;
  --color-bg-alt: #fff;
  --color-bg-dark: #000;

  --color-border: #191919;
  --color-border-muted: #ccc;
}
