html {
  --font-base: "Manrope", sans-serif;
  --font-accent: "Funky Signature", sans-serif;
  --color-primary: #9a031e;
  --color-accent: #658c58;
  --color-text: #191919;
  --color-text-muted: #666;
  --color-text-inverse: #fff;
  --color-bg: #fff5ec;
  --color-bg-alt: #fff;
  --color-bg-dark: #000;
  --color-border: #191919;
  --color-border-muted: #ccc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.row > *, .container-fluid, .container {
  padding-inline: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 36px;
  --grid-gutter-y: 0;
  width: 1320px;
  margin-inline: auto;
}

.container {
  width: 1320px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-inline: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 9px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 9px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 18px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 18px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 36px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 36px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 54px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 54px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 108px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 108px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 9px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 9px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 18px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 18px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 36px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 36px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 54px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 54px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 108px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 108px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 9px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 9px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 18px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 18px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 36px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 36px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 54px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 54px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 108px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 108px;
  }
}
@media (max-width: 1023.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 9px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 9px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 18px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 18px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 36px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 36px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 54px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 54px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 108px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 108px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 9px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 9px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 18px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 18px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 36px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 36px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 54px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 54px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 108px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 108px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 9px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 9px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 18px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 18px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 36px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 36px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 54px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 54px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 108px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 108px;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-base);
  color: var(--color-text);
  background: var(--color-bg);
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

[hidden] {
  display: none !important;
}

.container {
  padding-inline: 0;
}
@media (max-width: 575.98px) {
  .container {
    padding-inline: 18px;
  }
}

.icon {
  color: var(--color-text);
}

.overlay {
  position: fixed;
  z-index: 99;
  inset: 0;
  background: color-mix(in srgb, var(--color-bg-dark) 50%, transparent);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition: 0.3s ease;
}

.home__container {
  margin-top: 40px;
}
.home__container--alt {
  background: var(--color-bg-alt);
}
.home__container--padded {
  padding-block: 40px;
}
.home__container--padded-top {
  padding-top: 40px;
}
.home__container--padded-bottom, .product__block {
  padding-bottom: 40px;
}
.home__heading, .product__block-title, .gallery__block-title {
  position: relative;
  margin-bottom: 16px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.4;
}
.home__desc, .product__desc, .gallery__desc {
  margin-bottom: 24px;
  color: var(--color-text-muted);
  font-size: 1.5rem;
  line-height: 1.4;
}

.blog {
  padding-block: 40px 30px;
}
.blog__heading {
  max-width: 960px;
  margin-inline: auto;
  margin-bottom: 24px;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}
@media (max-width: 1023.98px) {
  .blog__heading {
    text-align: initial;
  }
}
.blog__row, .product__row {
  --grid-gutter-x: 20px;
  --grid-gutter-y: var(--grid-gutter-x);
}

.gallery {
  padding-bottom: 30px;
}
.gallery__heading, .product__heading {
  margin-block: 30px 10px;
  font-size: 2.6rem;
  font-weight: 700;
}
.gallery__block + .gallery__block {
  margin-top: 40px;
}
.gallery__block-title {
  margin-bottom: 16px;
}

.product__video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.product__video iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.header {
  --height: 62px;
  position: sticky;
  z-index: 98;
  top: 0;
  border-bottom: 1px solid var(--color-border-muted);
  background: var(--color-bg-alt);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--height);
}

.navbar.show {
  translate: 0;
}
.navbar.show ~ .overlay {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767.98px) {
  .navbar {
    position: fixed;
    z-index: 100;
    inset: 0 0 0 40%;
    padding: 24px;
    background: var(--color-bg-alt);
    translate: 100%;
    transition: translate 0.3s ease;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    inset: 0 0 0 20%;
  }
}
.navbar__top {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media (max-width: 767.98px) {
  .navbar__top {
    display: flex;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .navbar__list {
    display: block;
  }
}
.navbar__item--active .navbar__link {
  color: var(--color-primary);
  font-weight: 600;
}
.navbar__item--active .navbar__link::after {
  background: var(--color-primary);
}
@media (max-width: 767.98px) {
  .navbar__item--active .navbar__link {
    background: var(--color-bg);
  }
}
.navbar__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--height);
  padding-inline: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}
.navbar__link::before {
  content: attr(title);
  display: block;
  height: 0;
  font-weight: 600;
  overflow: hidden;
  visibility: hidden;
}
.navbar__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
}
.navbar__link:hover {
  color: var(--color-primary);
  font-weight: 600;
}
@media (max-width: 1023.98px) {
  .navbar__link {
    padding-inline: 8px;
  }
}
@media (max-width: 767.98px) {
  .navbar__link {
    height: auto;
    padding: 12px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: initial;
  }
  .navbar__link::before, .navbar__link::after {
    content: none;
  }
}

.nav-toggle {
  display: none;
  height: 100%;
  padding-inline: 10px;
}
@media (max-width: 767.98px) {
  .nav-toggle {
    display: block;
  }
}
.nav-toggle__icon {
  width: 26px;
}

.hero {
  display: flex;
  gap: 24px;
}
@media (max-width: 1023.98px) {
  .hero {
    flex-direction: column;
  }
}
.hero__main {
  position: relative;
  flex: 1;
  min-height: 260px;
  border-radius: 16px;
  background: url(/assets/img/khai-giang-nam-hoc-2025-2026-thpt-hung-vuong.jpg) center/cover no-repeat;
  overflow: hidden;
}
@media (max-width: 1023.98px) {
  .hero__main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero__main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: color-mix(in srgb, var(--color-bg-dark) 50%, transparent);
}
.hero__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 30px;
  color: var(--color-text-inverse);
}
.hero__title {
  margin-bottom: 16px;
  font-size: 3rem;
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.3;
}
.hero__desc {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}
.hero__btn.button {
  border: 2px solid color-mix(in srgb, var(--color-bg-alt) 80%, transparent);
  background: color-mix(in srgb, var(--color-bg-alt) 10%, transparent);
  backdrop-filter: blur(2px);
  transition: background 0.3s ease;
}
.hero__btn.button:hover {
  opacity: 1;
  background: color-mix(in srgb, var(--color-bg-alt) 15%, transparent);
}
.hero__countdown.countdown {
  flex-shrink: 0;
}
@media (max-width: 1023.98px) {
  .hero__countdown.countdown {
    width: 100%;
    height: auto;
  }
  .hero__countdown.countdown .countdown__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  margin-top: 20px;
}
.footer__row {
  display: grid;
  grid-template-columns: 360px 1fr 2fr 2fr;
  gap: 30px;
  padding: 28px 24px;
  border-radius: 12px;
  background: var(--color-bg-alt);
}
@media (max-width: 1199.98px) {
  .footer__row {
    grid-template-columns: 1fr 2fr 2fr;
    grid-auto-rows: auto;
  }
}
@media (max-width: 767.98px) {
  .footer__row {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1199.98px) {
  .footer__row .footer__col:first-child {
    grid-column: 1/-1;
  }
}
.footer__logo {
  flex-shrink: 0;
}
.footer__desc {
  margin-top: 12px;
  font-size: 1.4rem;
  line-height: 1.4;
}
.footer__heading {
  margin-bottom: 16px;
  font-weight: 600;
}
.footer__item {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 1.4rem;
  line-height: 1.4;
}
.footer__item ~ .footer__item {
  margin-top: 12px;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__copyright {
  padding-block: 18px;
  color: var(--color-text-muted);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}
.footer__copyright a {
  color: var(--color-primary);
  font-weight: 600;
}

.blog ~ .footer .footer__row,
.gallery ~ .footer .footer__row,
.product ~ .footer .footer__row {
  background: var(--color-bg);
}

.logo {
  display: inline-block;
}
.logo__link {
  display: flex;
  align-items: center;
  gap: 14px;
}
.logo__img {
  height: 44px;
}
.logo__title {
  margin-bottom: 4px;
  font-size: 2.4rem;
  font-weight: 600;
}
.logo__slogan {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 40px;
  padding: 0 20px;
  border-radius: 6px;
  color: var(--color-text-inverse);
  background: var(--color-accent);
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  user-select: none;
}
.button--outline {
  border: 1.5px solid var(--color-accent);
  color: var(--color-accent);
  background: transparent;
}
.button--rounded {
  border-radius: 100rem;
}
.button[disabled], .button--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.button:hover {
  opacity: 0.9;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 320px;
  padding: 20px;
  border: 1px solid var(--color-border-muted);
  border-radius: 16px;
  background: var(--color-bg-alt);
  text-align: center;
}
.countdown__sub-title {
  margin-bottom: 22px;
  font-weight: 600;
  text-align: center;
}
.countdown__title {
  margin-bottom: 14px;
  color: var(--color-primary);
  font-size: 3.2rem;
  font-family: var(--font-accent);
  font-weight: bold;
}
.countdown__list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.countdown__item {
  padding: 10px;
  border-radius: 12px;
  background: var(--color-bg);
}
.countdown__value {
  display: block;
  margin-bottom: 4px;
  color: var(--color-primary);
  font-size: 3.2rem;
  font-weight: 800;
}
.countdown__label {
  color: var(--color-text-muted);
  font-size: 1.4rem;
}

.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--color-border-muted);
  border-radius: 8px;
  margin-bottom: 20px;
  background: var(--color-bg);
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .tabs__nav {
    gap: 12px 16px;
    max-width: 400px;
    border: none;
  }
}
@media (max-width: 575.98px) {
  .tabs__nav {
    gap: 10px 12px;
  }
}
.tabs__nav-item {
  position: relative;
  flex: 1;
  padding: 12px 16px;
  border-right: 1px solid var(--color-border-muted);
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}
.tabs__nav-item:last-child {
  border-right: none;
}
.tabs__nav-item:hover {
  color: var(--color-primary);
}
.tabs__nav-item[aria-selected=true] {
  position: relative;
  color: var(--color-primary);
  background: var(--color-bg-alt);
  font-weight: 600;
}
.tabs__nav-item[aria-selected=true]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--color-primary);
}
@media (max-width: 767.98px) {
  .tabs__nav-item {
    flex: 0 0 auto;
    width: 120px;
    padding: 10px 16px;
    border: 1px solid var(--color-border);
    border-radius: 100rem;
    background: transparent;
    overflow: hidden;
  }
  .tabs__nav-item:last-child {
    border-right: 1px solid var(--color-border);
  }
  .tabs__nav-item:hover {
    border-color: var(--color-primary);
  }
  .tabs__nav-item[aria-selected=true] {
    border: 1px solid var(--color-primary);
  }
  .tabs__nav-item[aria-selected=true]::after {
    content: none;
  }
}
@media (max-width: 575.98px) {
  .tabs__nav-item {
    width: auto;
    padding-inline: 14px;
  }
}
.tabs__panel {
  display: flex;
  border-radius: 12px;
  background: var(--color-bg-alt);
  overflow: hidden;
}
@media (max-width: 1023.98px) {
  .tabs__panel {
    flex-direction: column-reverse;
    border: 1px solid var(--color-border-muted);
  }
}
.tabs__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
.tabs__title {
  margin-bottom: 14px;
  font-size: 2.2rem;
  font-weight: 500;
}
.tabs__desc {
  margin-bottom: 14px;
  line-height: 1.4;
}
.tabs__img {
  flex-shrink: 0;
  max-height: 300px;
  object-fit: contain;
}
@media (max-width: 1023.98px) {
  .tabs__img {
    width: 100%;
    height: 280px;
    max-height: initial;
    object-fit: cover;
  }
}
@media (max-width: 767.98px) {
  .tabs__img {
    height: auto;
    object-fit: contain;
  }
}

.masonry {
  --spacing: 8px;
  --columns: 3;
}
.masonry__grid {
  width: 100%;
}
.masonry__sizer, .masonry__item {
  width: calc(100% / var(--columns));
  padding: calc(var(--spacing) / 2);
}
@media (max-width: 1023.98px) {
  .masonry__sizer, .masonry__item {
    --columns: 2;
  }
}
@media (max-width: 767.98px) {
  .masonry__sizer, .masonry__item {
    --columns: 1;
  }
}
.masonry__img {
  width: 100%;
  transition: filter 0.3s ease;
}
.masonry__img:hover {
  filter: brightness(90%);
}

.image-slider {
  --padded-bottom: 20px;
  max-width: 90%;
  margin-inline: auto;
  margin-bottom: var(--padded-bottom);
}
@media (max-width: 767.98px) {
  .image-slider {
    max-width: initial;
  }
}
.image-slider__item {
  width: 100%;
  aspect-ratio: 16/9;
}
.image-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}
.image-slider__img:hover {
  filter: brightness(90%);
}

.post {
  width: 800px;
  margin-inline: auto;
}
@media (max-width: 1023.98px) {
  .post {
    width: initial;
  }
}
.post__meta {
  display: flex;
  align-items: center;
  gap: 16px;
}
.post__author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  object-fit: cover;
}
.post__author-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.post__author-name {
  font-weight: 600;
}
.post__date {
  color: var(--color-text-muted);
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
}
.post__heading {
  margin-block: 16px;
  font-weight: 600;
  line-height: 1.4;
}
.post__heading--lv2 {
  font-size: 2.2rem;
  line-height: 1.4;
  cursor: pointer;
}
.post__heading--lv2::before {
  content: "#";
  padding-right: 6px;
  color: var(--color-primary);
}
.post__heading--lv3 {
  font-size: 1.8rem;
  line-height: 1.4;
}
.post__excerpt, .post__paragraph {
  margin-block: 16px;
  line-height: 1.6;
}
.post__excerpt {
  font-weight: 600;
  font-style: italic;
}
.post__quote {
  padding-left: 20px;
  border-left: 4px solid var(--color-primary);
  background-color: var(--color-bg);
}
.post__quote .post__paragraph {
  padding-block: 8px;
}
.post__img {
  margin-block: 24px;
  border-radius: 6px;
}
.post__highlight {
  padding: 2px 6px;
  border-radius: 4px;
  color: var(--color-primary);
  background: var(--color-bg);
  font-weight: 500;
}

.post-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-inline: 0;
  border: 1px solid var(--color-border-muted);
  border-radius: 12px;
  background: var(--color-bg-alt);
  overflow: hidden;
}
.post-item__thumb {
  flex-shrink: 0;
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.post-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 1023.98px) {
  .post-item__content {
    padding: 16px;
  }
}
.post-item__title, .post-item__desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.post-item__title {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  -webkit-line-clamp: 2;
}
.post-item__desc {
  margin-bottom: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
  -webkit-line-clamp: 3;
}
.post-item__more {
  margin-top: auto;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  padding: 10px;
  border-radius: 100rem;
  color: var(--color-text);
  background: var(--color-bg-alt);
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}
.slick-arrow::before {
  content: none;
}
@media (max-width: 767.98px) {
  .slick-arrow {
    padding: 8px;
  }
}

.slick-arrow svg {
  width: 22px;
}
@media (max-width: 767.98px) {
  .slick-arrow svg {
    width: 20px;
  }
}

.slick-prev {
  left: 0;
  transform: translate(-50%, -50%);
}
@media (max-width: 767.98px) {
  .slick-prev {
    transform: translate(4px, -50%);
  }
}

.slick-next {
  right: 0;
  transform: translate(50%, -50%);
}
@media (max-width: 767.98px) {
  .slick-next {
    transform: translate(-4px, -50%);
  }
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, calc(100% + 14px));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 767.98px) {
  .slick-dots {
    transform: translate(-50%, calc(100% + 10px));
  }
}

.slick-dots button {
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-primary);
  border-radius: 100rem;
  background: var(--color-bg-alt);
  font-size: 0;
  transition: background 0.2s ease;
}

.slick-dots .slick-active button {
  background: var(--color-primary);
}

/*# sourceMappingURL=styles.css.map */
