@use "../abstracts/mixins";

.footer {
  margin-top: 20px;
  &__row {
    display: grid;
    grid-template-columns: 360px 1fr 2fr 2fr;
    gap: 30px;
    padding: 28px 24px;
    border-radius: 12px;
    background: var(--color-bg-alt);
    @include mixins.screen(xl) {
      grid-template-columns: 1fr 2fr 2fr;
      grid-auto-rows: auto;
    }
    @include mixins.screen(md) {
      grid-template-columns: 1fr;
    }
  }
  &__row &__col:first-child {
    @include mixins.screen(xl) {
      grid-column: 1 / -1;
    }
  }
  &__logo {
    flex-shrink: 0;
  }
  &__desc {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.4;
  }
  &__heading {
    margin-bottom: 16px;
    font-weight: 600;
  }
  &__item {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 1.4rem;
    line-height: 1.4;
  }
  &__item ~ &__item {
    margin-top: 12px;
  }
  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
  &__copyright {
    padding-block: 18px;
    color: var(--color-text-muted);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    a {
      color: var(--color-primary);
      font-weight: 600;
    }
  }
}

.blog,
.gallery,
.product {
  ~ .footer .footer__row {
    background: var(--color-bg);
  }
}
