.logo {
  display: inline-block;
  &__link {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  &__img {
    height: 44px;
  }
  &__title {
    margin-bottom: 4px;
    font-size: 2.4rem;
    font-weight: 600;
  }
  &__slogan {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
}
