@use '../abstracts/mixins';

.tabs {
  &__nav {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--color-border-muted);
    border-radius: 8px;
    margin-bottom: 20px;
    background: var(--color-bg);
    overflow: hidden;
    @include mixins.screen(md) {
      gap: 12px 16px;
      max-width: 400px;
      border: none;
    }
    @include mixins.screen(sm) {
      gap: 10px 12px;
    }
  }
  &__nav-item {
    position: relative;
    flex: 1;
    padding: 12px 16px;
    border-right: 1px solid var(--color-border-muted);
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    &:last-child {
      border-right: none;
    }
    &:hover {
      color: var(--color-primary);
    }
    &[aria-selected='true'] {
      position: relative;
      color: var(--color-primary);
      background: var(--color-bg-alt);
      font-weight: 600;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: var(--color-primary);
      }
    }
    @include mixins.screen(md) {
      flex: 0 0 auto;
      width: 120px;
      padding: 10px 16px;
      border: 1px solid var(--color-border);
      border-radius: 100rem;
      background: transparent;
      overflow: hidden;
      &:last-child {
        border-right: 1px solid var(--color-border);
      }
      &:hover {
        border-color: var(--color-primary);
      }
      &[aria-selected='true'] {
        border: 1px solid var(--color-primary);
        &::after {
          content: none;
        }
      }
    }
    @include mixins.screen(sm) {
      width: auto;
      padding-inline: 14px;
    }
  }
  &__panel {
    display: flex;
    border-radius: 12px;
    background: var(--color-bg-alt);
    overflow: hidden;
    @include mixins.screen(lg) {
      flex-direction: column-reverse;
      border: 1px solid var(--color-border-muted);
    }
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
  }
  &__title {
    margin-bottom: 14px;
    font-size: 2.2rem;
    font-weight: 500;
  }
  &__desc {
    margin-bottom: 14px;
    line-height: 1.4;
  }
  &__img {
    flex-shrink: 0;
    max-height: 300px;
    object-fit: contain;
    @include mixins.screen(lg) {
      width: 100%;
      height: 280px;
      max-height: initial;
      object-fit: cover;
    }
    @include mixins.screen(md) {
      height: auto;
      object-fit: contain;
    }
  }
}
